@font-face {
	font-family: 'ComicSans';
	font-style: normal;
	font-weight: 400;
	src: local('ComicSansMS'), url('../fonts/ComicSansMS.woff2') format('woff2');
}
@font-face {
	font-family: 'ComicSans';
	font-style: normal;
	font-weight: 400;
	src: local('ComicSansMSBold'),
		url('../fonts/ComicSansMS-Bold.woff2') format('woff2');
}
