* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'ComicSans', sans-serif;
}

.container {
	max-width: 1470px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.fixed-header {
	position: fixed;
	z-index: 2;
	width: 100vw;
	background: #fff;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.header-wrp {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.header-logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 24px;
	color: #ff8400;
	margin-right: 10px;
}
.header-logo .fas {
	padding-right: 5px;
}

/* Search */
.search-block {
	display: flex;
	align-items: center;
	max-width: 300px;
	width: 100%;
	margin-right: 20px;
}
.input-search {
	border: solid 2px #f1f1f1;
	font-size: 16px;
	height: 38px;
	border-radius: 5px;
	padding: 0 10px;
	margin-right: 5px;
	width: 100%;
	cursor: pointer;
}
.input-search:active {
	border: solid 2px #434343;
}
.input-search:hover {
	border: solid 2px #616161;
}

/* Dropdown */
.dropbtn {
	background-color: #ff8400;
	color: #000;
	border-radius: 50%;
	padding: 10px;
	font-size: 16px;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
	min-width: 57px;
	cursor: pointer;
}
.dropdown-content {
	display: none;
	position: absolute;
	left: -105px;
	top: 45px;
	background-color: #f1f1f1;
	min-width: 160px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:last-of-type {
	color: #ff0000;
}
.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #ddd;
}

/* Aside */
.aside-wrp {
	display: flex;
	flex-direction: column;
	background-color: #ddd;
	min-width: 250px;
	height: calc(100vh - 58px);
	z-index: 1;
}

.user-list {
	height: 100%;
	list-style: none;
	padding: 15px;
	align-content: center;
}
.user-wrp {
	display: flex;
	align-items: center;
}
.user-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0;
}
.user-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 5px;
}
.user-name {
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.user-ative {
	position: relative;
}
.active .user-ative::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -40px;
	display: block;
	border-radius: 50%;
	margin: 10px;
	height: 10px;
	width: 10px;
	transform: scale(1);
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

.aside-info {
	padding: 15px;
	height: 150px;
	border-top: 1px solid #fff;
}
.aside-info--wrp {
	display: flex;
	padding: 15px;
	flex-direction: column;
	background-color: rgb(158, 158, 158);
}
.aside-info--text {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}
.aside-info--text::selection {
	color: #fff;
	background: #ff8400;
}
.aside-logos {
	margin-top: 10px;
	font-size: 22px;
	text-align: center;
}
.fa-telegram:hover {
	color: deepskyblue;
}
.fa-instagram:hover {
	color: orangered;
}
.fa-facebook:hover {
	color: blue;
}

.hero-section {
	display: flex;
	padding: 58px 0 0;
}
.main-contentent-wrp {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	width: calc(100% - 250px);
}
.categories {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(12, minmax(100px, auto) 1fr 1fr);
	grid-template-rows: minmax(40px, 1fr);
	overflow-x: auto;
	scroll-snap-type: x proximity;
	list-style: none;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 25px;
}
.categories li:first-child {
	background: #ff8400;
	color: #fff;
}
.categories li {
	white-space: nowrap;
	padding: 10px 15px;
	border-radius: 20px;
	background: #ddd;
	flex: 0 0 auto;
}

.footer {
	position: fixed;
	width: 100%;
	z-index: 2;
	top: auto;
	bottom: 0;
}
.footer-content-wrp {
	text-align: center;
	padding: 10px 0;
}

.video-block {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 20px;
}
.video-img {
	width: 100%;
	position: relative;
}

.video-img:before {
	content: 'live';
	text-transform: uppercase;
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 20px;
	height: 10px;
	font-size: 10px;
	background: #f00;
}
.description {
	display: flex;
	justify-content: space-between;
}
.description-images {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 5px;
}
.description-title {
	font-size: 14px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.description-autor {
	font-size: 12px;
	color: #616161;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.description-wrp {
	display: flex;
}
.description .fas {
	font-size: 20px;
	padding: 5px;
}

@media (max-width: 1200px) {
	.aside-wrp {
		min-width: 60px;
	}
	.active .user-avatar {
		border: solid 2px#ff0000;
	}
	.user-name {
		display: none;
	}
	.user-ative {
		display: none;
	}
	.aside-info {
		display: none;
	}
	.main-contentent-wrp {
		width: calc(100% - 60px);
	}
}
